* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: #1b1b1b;

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  .logo {
    float: left;
    color: #ffffff;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
  }

  ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

    li {
      float: left;
      background: #1b1b1b;
      margin: 0 5px;

      a {
        color: #ffffff;
        text-decoration: none;
        line-height: 70px;
        font-size: 18px;
        padding: 8px 15px;

        &:hover {
          box-shadow: 0 0 5px #33ffff,
            0 0 5px #66ffff;
          border-radius: 5px;
          color: #33ffff;
        }
      }

      &:hover>ul {
        top: 70px;
        opacity: 1;
        visibility: visible;
      }
    }

    ul {
      position: absolute;
      top: 100px;
      border-top: 3px solid #33ffff;
      opacity: 0;
      visibility: hidden;
      transition: top .3s;

      li {
        position: relative;
        margin: 0;
        width: 150px;
        float: none;
        display: list-item;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        a {
          line-height: 50px;

          &:hover {
            color: #33ffff;
            box-shadow: none;
          }
        }
      }

      ul {
        border-top: none;

        li {
          position: relative;
          top: -70px;
          left: 150px;
        }
      }
    }
  }
}

.show,
input,
.icon {
  display: none;
}

@media all and (max-width: 968px) {
  nav {
    ul {
      margin-right: 0px;
      float: left;

      li {
        display: block;
        width: 100%;
      }

      ul {
        li {
          display: block;
          width: 100%;
          border-bottom: 0px;
        }

        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;

        ul {
          li {
            position: static;
          }

          a {
            padding-left: 80px;
          }
        }

        a {
          padding-left: 40px;
        }
      }

      a {
        &:hover {
          box-shadow: none;
        }
      }

    }

    .logo {
      padding-left: 30px;
      width: 100%;
    }

    .show {
      display: block;
      color: #ffffff;
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;

      &:hover {
        color: #33ffff;
      }
    }

    .show+a,
    ul {
      display: none;
    }

    .icon {
      display: block;
      color: #ffffff;
      position: absolute;
      right: 40px;
      line-height: 70px;
      font-size: 25px;
      cursor: pointer;
    }

    [id^=btn]:checked+ul {
      display: block;
    }
  }
}
